.heading {
  max-width: 800px;
  letter-spacing: -0.05em;
  line-height: 135%;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}

.subHeading {
  letter-spacing: 0.25em;
  font-size: 16px;
  font-weight: bold;
  color: #696666;
}

.tagline {
  max-width: 500px;
  font-size: 22px;
  text-align: center;
  line-height: 150%;
  color: #696666;
}

.btnCTA {
  padding: 20px 20px 20px;
  border-radius: 10px;
}

.backgroundPattern {
  background-image: url("/assets/images/pattern_background_home.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
