.backgroundPattern {
  background-image: url("/assets/images/pattern_background_question.png");
  height: 90vh;

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 75%;
}

.question {
  font-weight: 52px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -0.05em;
}

.hint {
  font-size: 14px;
  font-weight: bold;
  color: #696666;
}
